/* Contact */
.contact {
  display: grid;
  gap: 160px;
  grid-template-columns: 1fr 1fr;
  margin-block-start: 200px;
}

.contact__image-wrapper {
  background: var(--g12);
  display: grid;
  align-items: center;
  border-radius: 50px;
  max-height: 600px;
}

.contact__title {
  color: var(--g12);
  margin-block-end: 0.7em;
}

@media screen and (max-width: 1100px) {
  .contact__title {
    font-size: 1.875rem;
  }
  .contact__image-wrapper {
    display: none;
  }
  .contact {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .contact__content {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .contact__content {
    max-width: 400px;
  }
  .button--contact{
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .contact__content {
    max-width: 300px;
  }
  .button--contact{
    height:35px;
  }
}
