/* Footer */

.footer {
  background: var(--g12);
  margin-block-start: 140px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
  padding-inline: 1.25em;
  padding-block: 2em;
}

.footer__nav {
  display: flex;
  gap: 100px;
}

.footer__subtitle {
  color: var(--g1);
  margin-block-end: 0.6em;
}

.footer__link {
  color: var(--g3);
  display: grid;
  padding-block: 0.5em;
}

@media screen and (max-width: 700px) {
  .footer__subtitle {
    font-size: 1.125rem;
  }
  .footer__item {
    font-size: 0.875rem;
  }
  .footer__logo {
    width: 75px;
    max-width: 100%;
  }
  .footer__content {
    gap: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__content img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .footer__logo {
    width: 50px;
    max-width: 100%;
  }
  .footer__content {
    margin-inline: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer__logo {
    width: 45px;
    max-width: 100%;
  }
  .footer__content {
    margin-inline: 2px;
  }
  .footer__nav{
    gap: 20px;
  }
}
