/* Footer */

.footer {
  background: var(--g12);
  margin-block-start: 140px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
  padding-inline: 1.25em;
  padding-block: 2em;
}


.footer__nav {
  display: flex;
  gap: 100px;
}

.footer__subtitle {
  color: var(--g1);
  margin-block-end: 0.6em;
}

.footer__link {
  color: var(--g3);
  display: grid;
  padding-block: 0.5em;
}
