/* Services */
.services {
  margin-block-start: 200px;
  position: relative;
  padding-inline: 10px;
}

.services__image {
  position: absolute;
  top: -150px;
  right: 0;
}

.services__title {
  color: var(--g12);
  max-width: 18ch;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 470px 1fr;
  gap: 50px;
  margin-block-start: 70px;
}

.services__subtitle {
  color: var(--g11);
  margin-block: 1em 0.3em;
}

.services__description {
  color: var(--g10);
  max-width: 45ch;
}

.services__item--highlight {
  border-radius: 16px;
  background: var(--b12);
  color: var(--g1);
  padding-block: 2em;
  padding-inline: 1.25em;
}

.services__subtitle--highlight {
  color: var(--g1);
  margin-block: 1em 0.3em;
}

.services__description--highlight {
  color: var(--g4);
  max-width: 45ch;
}

@media screen and (max-width: 1100px) {
  .services__list {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .services__image {
    display: none;
  }

  .services__title {
    margin: auto;
  }

  .services__list {
    place-items: center;
  }

  .services__subtitle {
    font-size: 1.75rem;
  }

  .services__description {
    font-size: 1rem;
  }

  .services__subtitle--highlight {
    font-size: 1.75rem;
  }

  .services__description--highlight {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .services__title {
    font-size: 2.825rem;
  }
}

@media screen and (max-width: 450px) {
  .services__title {
    font-size: 2.325rem;
  }

  .services__subtitle {
    font-size: 1.125rem;
  }

  .services__description {
    font-size: 0.875rem;
  }

  .services__subtitle--highlight {
    font-size: 1.125rem;
  }

  .services__description--highlight {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 400px) {
  .services__title {
    font-size: 1.775rem;
  }

  .services__subtitle {
    font-size: 1rem;
  }

  .services__description {
    font-size: 0.775rem;
  }

  .services__subtitle--highlight {
    font-size: 1rem;
  }

  .services__description--highlight {
    font-size: 0.775rem;
  }
  .services__item {
    padding-block: 2em;
    padding-inline: 1.25em;
    width: 100%;
    box-sizing: border-box;
  }

  .services__list {
    place-items: stretch;
    gap: 20px;
  }
}