:root {
  --cor-0: #ffffff;
  --cor-1: #212121;
  --cor-2: #f4f4f4;
  --cor-3: #dcdcdc;
  --cor-4: #76d1ff;
  --cor-5: #5cc9ff;
  --cor-6: #afafaf;
  --cor-7: #292929;
}

.body-bg {
  background: var(--cor-2);
}

.introducao-bg {
  background: var(--cor-1);
}

.footer-bg {
  background: var(--cor-1);
}

.cor-destaque {
  color: var(--cor-0);
}
