:root {
    /* Escala de Cinzas (Greys) */
    --g1: #ECEDEE;
    --g2: #DFDFDF;
    --g3: #D0D1D2;
    --g4: #C0C0C1;
    --g5: #B1B2B4;
    --g6: #A1A3A4;
    --g7: #8C8F93;
    --g8: #7C8186;
    --g9: #62666B;
    --g10: #51565C;
    --g11: #3E4246;
    --g12: #2F3336;

    /* Escala de Azuis (Blues) */
    --b1: #E1F4FB;
    --b2: #96E1FF;
    --b3: #89D7F6;
    --b4: #7ECBEA;
    --b5: #77C3E2;
    --b6: #56B9D4;
    --b7: #48A4C9;
    --b8: #318CB1;
    --b9: #217292;
    --b10: #125D7B;
    --b11: #0A4A63;
    --b12: #042937;
}