#home main {
  margin-top: 40px;
}

.introducao {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 32px;
  padding: 40px 34px;
}

.introducao-conteudo h1 {
  max-width: 20ch;
  color: #ffffff;
  margin-bottom: 20px;
}

.introducao-conteudo p {
  color: #dcdcdc;
  max-width: 55ch;
  margin-bottom: 20px;
}

.introducao-catalogo {
  justify-items: center;
  align-content: center;
  position: relative;
}

.introducao-catalogo {
  max-width: max-content;
}

.introducao-catalogo::before {
  content: "";
  background: url("../../img/detalhe-cima.svg") no-repeat;
  width: 55px;
  height: 55px;
  top: 0px;
  left: 0px;
  position: absolute;
}

.introducao-catalogo::after {
  content: "";
  background: url("../../img/detalhe-baixo.svg") no-repeat;
  width: 55px;
  height: 55px;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.introducao-catalogo h2 {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.introducao-catalogo ul {
  display: grid;
  padding-left: 20px;
  gap: 10px;
  color: #dcdcdc;
}

@media (max-width: 1100px) {
  .introducao-conteudo h1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-catalogo {
    display: none;
  }
}

@media (max-width: 600px) {
  .introducao {
    padding: 26px 20px;
  }
  .introducao-conteudo h1 {
    font-size: 1.875rem;
  }
  .introducao-conteudo p {
    font-size: 1rem;
  }
  .introducao-conteudo .botao {
    font-size: 1rem;
    padding: 12px 16px;
  }
}
