#conta header {
  background: var(--cor-1);
}

#conta .navegacao {
  border: none;
  align-items: center;
}

#conta .navegacao > a {
  place-self: start end;
  grid-column: 2;
}

.links-navegacao {
  display: flex;
  gap: 20px;
}

.links-navegacao li a {
  color: var(--cor-0);
  display: flex;
  padding: 12px 0px;
}

.links-navegacao a img,
.navegacao img {
  margin-bottom: 0;
}

.menu-hamburguer {
  cursor: pointer;
  display: none;
  gap: 4px;
}

.menu-hamburguer .linha {
  width: 30px;
  height: 4px;
  background: var(--cor-0);
  border-radius: 4px;
}

.menu-hamburguer.aberto .linha:nth-child(1) {
  animation: 0.3s center-bottom forwards, 0.3s x-left 0.3s forwards;
}

.menu-hamburguer.aberto .linha:nth-child(2) {
  animation: 0.5s disappear forwards;
}

.menu-hamburguer.aberto .linha:nth-child(3) {
  animation: 0.3s center-top forwards, 0.3s x-right 0.3s forwards;
}

.menu-hamburguer.fechado .linha:nth-child(1) {
  animation: 0.3s x-left-reverse, 0.3s center-bottom-reverse 0.3s forwards;
}

.menu-hamburguer.fechado .linha:nth-child(2) {
  animation: 0.5s disappear-reverse 0.3s forwards;
  transform: scale(0);
  z-index: 0;
}

.menu-hamburguer.fechado .linha:nth-child(3) {
  animation: 0.3s x-right-reverse, 0.3s center-top-reverse 0.3s forwards;
  z-index: 2;
}

@keyframes center-bottom {
  100% {
    transform: translateY(8px);
  }
}

@keyframes disappear {
  100% {
    transform: scale(0);
  }
}

@keyframes center-top {
  100% {
    transform: translateY(-8px);
  }
}

@keyframes x-left {
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes x-right {
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes x-left-reverse {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  100% {
    transform: translateY(8px) rotate(0deg);
  }
}

@keyframes center-bottom-reverse {
  0% {
    transform: translateY(8px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0px);
  }
}

@keyframes disappear-reverse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes x-right-reverse {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  100% {
    transform: translateY(-8px) rotate(0deg);
  }
}

@keyframes center-top-reverse {
  0% {
    transform: translateY(-8px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0px);
  }
}

@media (max-width: 850px) {
  .container-menu.aberto {
    background: var(--cor-1);
    position: fixed;
    inset: 0;
    padding: 20px 12px;
    z-index: 10;
  }
  .links-navegacao {
    display: none;
  }
  .links-navegacao.mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
  }
  .menu-hamburguer {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    padding: 14px 0px;
  }
}
