.perguntas-frequentes {
  padding-bottom: 80px;
}
.perguntas-frequentes h2 {
  margin-bottom: 40px;
}

.perguntas-frequentes dl {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.perguntas-frequentes dt {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.perguntas-frequentes button {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background: 0;
  border: 0;
}

.perguntas-frequentes button::after {
  content: "";
  display: inline-block;
  background: url("../../img/seta-para-cima.svg") no-repeat;
  width: 20px;
  height: 15px;
  /* transition: 0.2s; */
}

.perguntas-frequentes button:hover::after {
  background: url("../../img/seta-para-baixo.svg") no-repeat;
  width: 20px;
  height: 15px;
}

.perguntas-frequentes dd {
  max-width: 85ch;
  padding-bottom: 18px;
  padding-top: 12px;
}
